<!DOCTYPE HTML>
<html>
<head>
    <title>PyUser</title>
</head>
<body>
    <h1>PyUser</h1>
    {% if name %}
        <h2>Username {{ name }}!</h2>
    {% else %}
        <h2>No username</h2>
    {% endif %}

    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    {% for each in pyusers %}
        <tr>
            <td>{{ each.id }}</td>
            <td>{{ each.username }}</td>
            <td>{{ each.email }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>